**/.env*
**/.example.env
**/.venv
**/logs/
**/sandbox/graphs/*
**/sandbox/docs
**/sandbox/contexts
**/sandbox/db/*
**/docker/postgres/data
**/Dockerfile
**/README.md
**/docker*
**/scripts
**/langgraph.json
**.dockerignore
**.cursorignore
**/vscode
**/git*
**/example.env
**/deployment
**/logs/
**/tests
