**/.env*
.venv
**/data/
sandbox/graphs/*
**/__pycache__/
sandbox/docs
sandbox/contexts/clsk
docker/postgres/data
deployment/docker/postgres/data
deployment/terraform/digitalocean/*terraform*
logs/
sandbox/db/*