python-dotenv
anthropic
langgraph
langgraph-checkpoint-postgres
langchain_anthropic
langchain_openai
langchain-google-genai
langchain-community
langchain-experimental
langchain-ollama
langchain-groq
fastapi
uvicorn
python-multipart
psycopg2
psycopg2-binary
pydantic[email]
pypdf
rapidocr-onnxruntime
loguru
nest_asyncio
mkdocs
mkdocs-material
mkdocstrings[python]
aiofiles
alembic
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]