python-dotenv
anthropic
langgraph==0.2.53
langgraph-checkpoint-postgres==2.0.5
langchain_anthropic
langchain_openai
langchain-google-genai
langchain-community
langchain-experimental
langchain-ollama
langchain-groq
fastapi
uvicorn
python-multipart
psycopg2
psycopg2-binary
pypdf
rapidocr-onnxruntime
loguru
nest_asyncio
mkdocs
mkdocs-material
mkdocstrings[python]
aiofiles